In [ ]:
L1=[1,2,3,[40,50],70,80]
L1[3].insert(2,60)
print(L1)

[1, 2, 3, [40, 50, 60], 70, 80]

In [ ]:
L1=[10,20,30]
L2=[35,20,10]
result=L1+L2
print(result);

print(min(L1))
print(max(L2))


L3=['A','B','a','b']
print(min(L3))
print(max(L3))

L4=['Python','Java','CPP','HTML']
print(min(L4))
print(max(L4))

[10, 20, 30, 35, 20, 10]
10
35
A
b
CPP
Python

Tuples and Dictionary

In [ ]:
T1=(10,20,30,40)
L1=list(T1) #typecast tuple into list
L1.append(50)
T1=tuple(L1) #typecasr list into tuple
print(T1)

(10, 20, 30, 40, 50)

when lists and tuples are nested, the nested lists are mutable and the nested tuples are immutable

In [ ]:
L1=[10,20,30,(50,60),80]
L1[3].insert(2,70)
print(L1)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:

Test=(10,20,30,[50,60],80)
Test[3].insert(2,70)
print(Test)

(10, 20, 30, [50, 60, 70], 80)

In [ ]:
test=(10,20,30,[50,60,(70,80,'python')],100,101)
print(test[3][-1][-1])

print(test[3][-1][-1][0::2])

python
pto