<a href="https://colab.research.google.com/github/akhitachandran/PYTHON/blob/main/(24th_Aug)Tuple_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple(x**2 for x in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [ ]:
tuple(x**2 for x in range(0,20,2) )

(0, 4, 16, 36, 64, 100, 144, 196, 256, 324)

In [ ]:
tuple(5*x for x in range(1,11))

(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

In [ ]:
t1=(1,2,3,5,6,7,9)
len(t1)

7

**DICTIONARY**

In [ ]:
stud={
    "rollno":123,
    "name":"ottawa",
    "email":"london@gmail.com"
}
print(stud)
stud[111]=2345678
print(stud)
del stud[111]
print(stud)

{'rollno': 123, 'name': 'ottawa', 'email': 'london@gmail.com'}
{'rollno': 123, 'name': 'ottawa', 'email': 'london@gmail.com', 111: 2345678}
{'rollno': 123, 'name': 'ottawa', 'email': 'london@gmail.com'}

In [ ]:
Galaxy_M25={
    "Brand":"Samsung",
    ("RAM","memory"):(["6gb","8gb"],["128gb","256gb"]),
    "os":"android14",
    "camera":"50mp"
}
print(Galaxy_M25)

{'Brand': 'Samsung', ('RAM', 'memory'): (['6gb', '8gb'], ['128gb', '256gb']), 'os': 'android14', 'camera': '50mp'}

In [2]:
bookmyshow = {
    "city" : ["mum","delhi","navi mum", "thane"],
    "movies" : ["stree2","Alien","khel","vedaa"],
    ("dates","place","showtime") : ([24,25,26],["pvr","cinemax"],[4.15,6.30,11.30]),
    "seats" : ["Platinum","Gold"],
    ("ticket_charges","Convenience_fees","Sub_total") : ["Gold:K-7,K-8",47.20,447.20]
}
print(bookmyshow)

{'city': ['mum', 'delhi', 'navi mum', 'thane'], 'movies': ['stree2', 'Alien', 'khel', 'vedaa'], ('dates', 'place', 'showtime'): ([24, 25, 26], ['pvr', 'cinemax'], [4.15, 6.3, 11.3]), 'seats': ['Platinum', 'Gold'], ('ticket_charges', 'Convenience_fees', 'Sub_total'): ['Gold:K-7,K-8', 47.2, 447.2]}