In [ ]:
a=int(input("value of a= "));
b=int(input("value of b= "));
c=int(input("value of c= "));

x=(b**2-4*a*c);
res1=(-b+(x)**0.5/(2*a));
res2=(-b-(x)**0.5/(2*a));
print(res1,res2);

value of a= 2
value of b= 3
value of c= 4
(-3+1.1989578808281798j) (-3-1.1989578808281798j)

In [ ]:
import cmath
a,b,c=1,5,6;

#calculate the discriminant
d=(b**2)-(4*a*c)

#find sol
sol1=(-b-cmath.sqrt(d))/(2*a);
sol2=(-b+cmath.sqrt(d))/(2*a);
print('the solution are {0} and {1}'.format(sol1,sol2))

the solution are (-3+0j) and (-2+0j)

generate random numbers

In [ ]:
import random
print(random.randint(0,10))

0

display calendar

In [ ]:
import calendar
yy=int(input("Enter Year: "));
mm=int(input("Enter Month: "));
print(calendar.month(yy,mm));

Enter Year: 2005
Enter Month: 11
   November 2005
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30