<a href="https://colab.research.google.com/github/akhitachandran/PYTHON/blob/main/(8th_Aug)List_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
*c,d=[1,2,3,4,5,6,7]
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
x=(i for i in range(3))
for i in x:
  print(i);
for i in x:
  print(i);

0
1
2

In [ ]:
L1=["a","b","c"]
L2=['d','e','f']
L3=L1+L2
print(L3)
L3.append(20);
print(L3)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 20]

In [ ]:
L1=[1,2,3,4]
L1.append(5)
print(L1);

[1, 2, 3, 4, 5]

In [ ]:
L1=[1,2,3]
L2=[5,8,9]
#L1.append(L2)
#print(L1);
#L1.extend(L2)
#print(L1)

L1.append("python");
print(L1);

L1.extend("python");
print(L1);

#L1.extend(1000);
#print(L1)

L1.append(1000);
print(L1);

[1, 2, 3, 'python']
[1, 2, 3, 'python', 'p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 'python', 'p', 'y', 't', 'h', 'o', 'n', 1000]

In [ ]:


L1=[1,2,3,[4,5,6],"Python"]
print(L1[0]);
print(L1[3][1]); #second bracket for values inside the list
print(L1[-1][1:]);

L2=[1,2,3,[4,5,"python"]];
print(L2[3][-1][1:]);

L2[-1].append("programming")
print(L2)

1
5
ython
ython
[1, 2, 3, [4, 5, 'python', 'programming']]

In [ ]:
L1=[1,2,3,[30,80,20]]
L1[-1].sort()
print(L1)
L1.pop(-1)
print(L1);


L2=["R","Y","A","F"];
L2.sort();
L2.reverse();
print(L2)


L2.insert(2,"W")
print(L2)

L3=[10,20,30,[50,60,[70,80]]];
print(L3[-1][-1][-1])

L4=[10,20,30,[50,60,["python","prog"]]]
print(L4[-1][-1][0],L4[-1][-1][-1])

[1, 2, 3, [20, 30, 80]]
[1, 2, 3]
['Y', 'R', 'F', 'A']
['Y', 'R', 'W', 'F', 'A']
80
python prog

In [ ]:
import math

L1=[10,20,30,[50,60,[100,200]]]
a=math.sqrt(L1[-1][-1][0])
b=math.sqrt(L1[-1][-1][-1])
print(L1)

L1[-1][-1][0]=a;
L1[-1][-1][-1]=b;
print(L1);

[10, 20, 30, [50, 60, [100, 200]]]
[10, 20, 30, [50, 60, [10.0, 14.142135623730951]]]